/* Base Variables */
:root {
    --primary-color: #ff6347; /* Tomato */
    --secondary-color: #ffd700; /* Gold */
    --accent-color: #ffa07a; /* Light Salmon, as an accent */
    --text-color: #333333; /* Almost Black */
    --background-color: #fdfdfd; /* Almost White */
}

/* Base settings */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Header and Navigation */
header {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: var(--background-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--secondary-color);
}

/* Main Content */
main {
    padding: 20px;
}

h2 {
    color: var(--primary-color);
}

/* Recipe Cards */
.recipe-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.recipe-card {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.recipe-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Forms and Buttons */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: var(--accent-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    
    .recipe-cards {
        grid-template-columns: 1fr;
    }
}
